:root {
    /* colors */
    --blue: rgba(79, 192, 210, 1);
    --green: rgba(82, 210, 154, 1);
    --yellow: rgba(231, 196, 104, 0.7);
    --orange: rgba(235, 118, 85, 1);
    --dark-bg: rgba(0, 0, 0, 0.9);
    --light-bg: rgba(255, 255, 255, 0.1);
    --text: rgba(255, 255, 255, 0.9);
    }
    .banner, .timkiem, .modal-footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    input:first-child{
        width: 220px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 15px;
    }
    button{
        margin-right: 290px;
        color: var(--text);
        background-color: var(--green);
        border-radius: 4px; 
        border: rgba(82, 210, 154, 0.75); 
    }
    button:hover{
        background-color:rgb(6, 190, 111) ;
    }
    .banner {
    margin-bottom: 20px;
    }
    .modal-header{
        display: flex;
        justify-content: space-between;
    }
    .close{
        margin-right: -220px;
        margin-left: 5px;
        opacity: none;
    }